.footer-e-banner {
    margin-top: 30px;
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer-e-banner img {
    height: 40px;
}

.modal-redesign {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    max-width: 100px;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-overflow-scrolling: touch;
    background: rgba(51, 51, 51, 0.5);
    transition: all ease-in 0.2s;
}

.modal-redesign .modal-dialog .modal-header {
    padding: 0;
    position: relative;
}

.modal-redesign .right-modal .header-container-modal-custom {
    background-color: #eaeaea;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px;
    position: relative;
}

.modal-redesign .modal-dialog.modal-dialog-custom-chart {
    width: auto;
    margin: 0;
    max-width: none;
}

.modal-redesign.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal-redesign .modal-dialog .modal-header .closeWebAcc .icon-close-popup {
    font-size: 22px;
    color: #fff;
}

.modal-redesign .modal-dialog.modal-dialog-custom-chart {
    width: auto;
    margin: 0;
    max-width: none;
}

.modal-redesign.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal-redesign .modal-dialog {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 30px auto;
}

.modal-redesign .accessibility {
    height: auto;
    border-radius: 10px;
    padding: 0 15px;
    line-height: 23px;
    color: #fff!important;
}

.modal-redesign .right-modal {
    float: right;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    position: relative;
    margin: auto;
    z-index: 999999999;
    min-height: 100%;
    min-width: 27%;
}

.modal-webAccessibility {
    min-width: 6%!important;
    color: #fff!important;
    right: -15px;
}

.modal-redesign .modal-content {
    position: relative;
    background-color: #fff;
    border-radius: 0px;
    box-shadow: none;
    background-clip: padding-box;
    outline: 0;
    border: 0;
    box-shadow: -1px 0 3px rgba(0, 0, 0, .1);
}

.modal-redesign .modal-webAccessibility-background {
    background: #fbfbfb!important;
}

.modal-redesign .right-modal .container-inside-modal-custom {
    width: 100%;
    background: #fff;
    padding: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal-redesign .right-modal .container-inside-modal-custom {
    width: 100%;
    background: #fff;
    padding: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.btnRevert {
    border-right: none!important;
    border-left: none!important;
}

#side-webAccessibility {
    background: none;
    z-index: 9999;
    padding-right: 0px!important;
}

.changeBackground {
    background: #0a5800!important;
}

.text-center {
    text-align: center;
    display: block;
}

.fs-14 {
    font-size: 14px!important;
}

.fs-15 {
    font-size: 15px!important;
}

.fs-16 {
    font-size: 16px!important;
}

.fs-17 {
    font-size: 17px!important;
}

.fs-18 {
    font-size: 18px!important;
}

.fs-19 {
    font-size: 19px!important;
}

.fs-20 {
    font-size: 20px!important;
}

.fs-22 {
    font-size: 22px!important;
}

.pb-10 {
    padding-bottom: 10px!important;
}

.pb-22 {
    padding-bottom: 22px!important;
}

.pr-20 {
    padding-right: 20px!important;
}

.closeImg {
    position: absolute;
    right: 20px;
    width: 20px;
}

.revert-img {
    top: 1px;
    position: relative;
    width: 15px;
    heigth: 1px;
}

.modal-webAccessibility .row {
    display: block!important;
}

.modal-redesign .accessibility table {
    width: auto;
    display: table;
    border-collapse: separate;
    border-color: gray;
    margin: auto;
    color: #374148;
}

.modal-webAccessibility table td {
    padding: 10px;
}

.modal-webAccessibility table tr {
    background-color: transparent;
}

.pointer {
    cursor: pointer;
}

.ml-20 {
    margin-left: 20px!important;
}

.mr-20 {
    margin-right: 20px!important;
}

.mt-10 {
    margin-top: 10px!important;
}

.revert-img {
    top: 1px;
    position: relative;
    width: 15px;
    heigth: 1px;
}

.pointer {
    cursor: pointer;
}

.pt-10 {
    padding-top: 10px!important;
}

.mt-10 {
    margin-top: 10px!important;
}

.modal-redesign .accessibility .left-img {
    top: 1px;
    position: relative;
}

.modal-redesign .accessibility .width-50 {
    width: 50px!important;
}

.modal-redesign .accessibility .width-50 {
    width: 50px!important;
}

.modal-redesign .accessibility .width-50 {
    width: 50px!important;
}

.webAccTextWhite {
    color: #ffffff!important;
}

.webAccessBtn {
    width: 50px;
    position: fixed;
    right: 10px;
    z-index: 999;
    top: 80%;
}

@media (max-width: 600px) {
    .webAccessBtn {
        left: 0px;
        bottom: 0;
        top: auto;
    }
}

.webAccTextBlack {
    color: #000000!important;
}

.webAccTextYellow {
    color: #F5FF00!important;
}

.webAccBackgroundBlack {
    background: none #000000 ;
}

.webAccBackgroundGrey {
    background: none #9B9B9B;
}

.webAccBackgroundYellow {
    background: none #F5FF00;
}

.modal-redesign {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    max-width: 100px;
    bottom: 0;
    left: 0;
    -webkit-overflow-scrolling: touch;
    background: rgba(51, 51, 51, 0.5);
}

.accessibility {
    height: auto;
    border-radius: 10px;
    padding: 0 15px 0 15px;
    line-height: 23px;
    color: #fff!important;
}

.accessibility li {
    display: block;
    overflow: hidden;
    max-height: 0px;
}

.accessibility table {
    width: auto;
    display: table;
    border-collapse: separate;
    border-color: grey;
    margin: auto;
    color: #374148;
}

.accessibility .greyBck {
    background: #f2f2f2;
}

.accessibility .width-50 {
    width: 50px!important;
}

.accessibility .width-40 {
    width: 40px!important;
}

.accessibility .width-30 {
    width: 30px!important;
}

.accessibility th {
    cursor: pointer;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    vertical-align: text-top;
    min-height: 45px;
    padding: 10px 10px;
}

.accessibility .left {
    border-radius: 8px 0px 0px 8px;
    border-right: 1px solid #e9e9e9;
}

.accessibility .right {
    border-radius: 0px 8px 8px 0px;
    border-left: 1px solid #e9e9e9;
}

.accessibility .icon-caret-up,
.icon-caret-down {
    font-size: 12px;
    margin-left: 3px;
    line-height: 0.7;
}
.accessibility .btn {
    background: none;
    color: #fff;
    border: none;

    display: block;

    min-width: 100%;
    margin-top: 15px;

}
.accessibility .btn:hover {
    background: #58add6;
}