<!doctype html>
<html class="no-js" lang="el-GR">
<head>
    <jcms:site:seotitle/>

    <jcms:site:fevicon/>

    <!-- font language -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <!-- Font Icons css -->
    <link rel="stylesheet" href="css/font-icons.css">
    <!-- plugins css -->
    <link rel="stylesheet" href="css/plugins.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body class="<jcms:site:language-class/>">

<!-- Body main wrapper start -->
<div class="body-wrapper">

    <!-- HEADER AREA START (header-5) -->
    <jcms:module:header/>
    <!-- HEADER AREA END -->

    <!-- Utilize Cart Menu Start -->
    <jcms:module:product:cart-menu/>
    <!-- Utilize Cart Menu End -->

    <!-- Utilize Mobile Menu Start -->
    <jcms:module:menu:mob-menu/>
    <!-- Utilize Mobile Menu End -->

    <div class="ltn__utilize-overlay"></div>

    <!-- BREADCRUMB AREA START -->
    <div class="ltn__breadcrumb-area ltn__breadcrumb-area-2 ltn__breadcrumb-color-white bg-image" data-bg="https://sulavhealth.com/images/package/UJOPC-edited-default.jpg" style="background-image: url(&quot;https://sulavhealth.com/images/package/UJOPC-edited-default.jpg&quot;);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__breadcrumb-inner ltn__breadcrumb-inner-2 justify-content-between">
                        <div class="section-title-area ltn__section-title-2">
                            <h1 class="section-title white-color"><strong>Article-list</strong></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMB AREA END -->

    <!-- ABOUT US AREA START -->
    <div class="ltn__about-us-area pt-120--- pb-120 resourse12">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="nav flex-column nav-pills widget ltn__menu-widget sticky" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Olive Oil<span><i class="fas fa-long-arrow-alt-right"></i></span></a>

                        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Herbs<span><i class="fas fa-long-arrow-alt-right"></i></span></a>

                        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Mediterranean Diet<span><i class="fas fa-long-arrow-alt-right"></i></span></a>

                        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Recipes<span><i class="fas fa-long-arrow-alt-right"></i></span></a>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade active show" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <div class="row">
                                <!-- Blog Item -->
                                <div class="col-lg-6 col-sm-6 col-12">
                                    <div class="ltn__blog-item ltn__blog-item-3">
                                        <div class="ltn__blog-brief">
                                            <div class="ltn__blog-meta">
                                                <ul>
                                                    <li class="ltn__blog-author">
                                                        <i class="far fa-user"></i>by: Arya Shakya
                                                    </li>
                                                </ul>
                                            </div>
                                            <h3 class="ltn__blog-title animated fadeIn"><a href="#">Common Engine Oil Problems and Solutions</a></h3>
                                            <div class="ltn__blog-meta-btn">
                                                <div class="ltn__blog-meta">
                                                    <ul>
                                                        <li class="ltn__blog-date"><i class="far fa-calendar-alt"></i>June 24, 2020</li>
                                                    </ul>
                                                </div>
                                                <div class="ltn__blog-btn">
                                                    <a href="#">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Blog Item -->
                                <div class="col-lg-6 col-sm-6 col-12">
                                    <div class="ltn__blog-item ltn__blog-item-3">
                                        <div class="ltn__blog-brief">
                                            <div class="ltn__blog-meta">
                                                <ul>
                                                    <li class="ltn__blog-author">
                                                        <i class="far fa-user"></i>by: Admin
                                                    </li>
                                                </ul>
                                            </div>
                                            <h3 class="ltn__blog-title animated fadeIn"><a href="#">How and when to replace brake rotors</a></h3>
                                            <div class="ltn__blog-meta-btn">
                                                <div class="ltn__blog-meta">
                                                    <ul>
                                                        <li class="ltn__blog-date"><i class="far fa-calendar-alt"></i>July 23, 2020</li>
                                                    </ul>
                                                </div>
                                                <div class="ltn__blog-btn">
                                                    <a href="#">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                            <p>Ancient Greeks have evolved therapeutics with herbs since 3000 B.C. and the first written proofs are found in Orphica (poetry collection by Orpheus) and in Homeric poems, where the use of pharmaceutical herbs is described in detail (e.g. mandrake, dittany, crocus (saffron) etc). Asclepius, Hippocrates and Pythagoras had great knowledge of pharmaceutical herbs and were using them to heal people. Hippocrates was the first to systemize his medicinal knowledge in organized manuscripts, where he mentions the use of about 236 herbs.</p>
                        </div>

                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                            <div class="row">
                                <!-- Blog Item -->
                                <div class="col-lg-6 col-sm-6 col-12">
                                    <div class="ltn__blog-item ltn__blog-item-3">
                                        <div class="ltn__blog-brief">
                                            <div class="ltn__blog-meta">
                                                <ul>
                                                    <li class="ltn__blog-author">
                                                        <i class="far fa-user"></i>by: Arya Shakya
                                                    </li>
                                                </ul>
                                            </div>
                                            <h3 class="ltn__blog-title animated fadeIn"><a href="#">Common Engine Oil Problems and Solutions</a></h3>
                                            <div class="ltn__blog-meta-btn">
                                                <div class="ltn__blog-meta">
                                                    <ul>
                                                        <li class="ltn__blog-date"><i class="far fa-calendar-alt"></i>June 24, 2020</li>
                                                    </ul>
                                                </div>
                                                <div class="ltn__blog-btn">
                                                    <a href="#">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Blog Item -->
                                <div class="col-lg-6 col-sm-6 col-12">
                                    <div class="ltn__blog-item ltn__blog-item-3">
                                        <div class="ltn__blog-brief">
                                            <div class="ltn__blog-meta">
                                                <ul>
                                                    <li class="ltn__blog-author">
                                                        <i class="far fa-user"></i>by: Admin
                                                    </li>
                                                </ul>
                                            </div>
                                            <h3 class="ltn__blog-title animated fadeIn"><a href="#">How and when to replace brake rotors</a></h3>
                                            <div class="ltn__blog-meta-btn">
                                                <div class="ltn__blog-meta">
                                                    <ul>
                                                        <li class="ltn__blog-date"><i class="far fa-calendar-alt"></i>July 23, 2020</li>
                                                    </ul>
                                                </div>
                                                <div class="ltn__blog-btn">
                                                    <a href="#">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                            <div class="row">
                                <!-- Blog Item -->
                                <div class="col-lg-6 col-sm-6 col-12">
                                    <div class="ltn__blog-item ltn__blog-item-3">
                                        <div class="ltn__blog-brief">
                                            <div class="ltn__blog-meta">
                                                <ul>
                                                    <li class="ltn__blog-author">
                                                        <i class="far fa-user"></i>by: Arya Shakya
                                                    </li>
                                                </ul>
                                            </div>
                                            <h3 class="ltn__blog-title animated fadeIn"><a href="#">Common Engine Oil Problems and Solutions</a></h3>
                                            <div class="ltn__blog-meta-btn">
                                                <div class="ltn__blog-meta">
                                                    <ul>
                                                        <li class="ltn__blog-date"><i class="far fa-calendar-alt"></i>June 24, 2020</li>
                                                    </ul>
                                                </div>
                                                <div class="ltn__blog-btn">
                                                    <a href="#">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Blog Item -->
                                <div class="col-lg-6 col-sm-6 col-12">
                                    <div class="ltn__blog-item ltn__blog-item-3">
                                        <div class="ltn__blog-brief">
                                            <div class="ltn__blog-meta">
                                                <ul>
                                                    <li class="ltn__blog-author">
                                                        <i class="far fa-user"></i>by: Admin
                                                    </li>
                                                </ul>
                                            </div>
                                            <h3 class="ltn__blog-title animated fadeIn"><a href="#">How and when to replace brake rotors</a></h3>
                                            <div class="ltn__blog-meta-btn">
                                                <div class="ltn__blog-meta">
                                                    <ul>
                                                        <li class="ltn__blog-date"><i class="far fa-calendar-alt"></i>July 23, 2020</li>
                                                    </ul>
                                                </div>
                                                <div class="ltn__blog-btn">
                                                    <a href="#">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ABOUT US AREA END -->

    <!-- FOOTER AREA START -->
    <jcms:module:footer/>
    <!-- FOOTER AREA END -->

</div>
<!-- Body main wrapper end -->

<!-- All JS Plugins -->
<script src="js/plugins.js"></script>
<script src="js/jquery.validate.min.js"></script>
<!-- Main JS -->
<script src="js/main.js"></script>

<!-- Custom JS -->
<script src="js/custom.js"></script>

</body>
</html>

