<!doctype html>
<html class="no-js" lang="el-GR">
<head>
    <jcms:site:seotitle/>

    <jcms:site:fevicon/>

    <!-- font language -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <!-- Font Icons css -->
    <link rel="stylesheet" href="css/font-icons.css">
    <!-- plugins css -->
    <link rel="stylesheet" href="css/plugins.css">

    <link rel="stylesheet" href="css/jquery-ui.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="css/responsive.css">

    <style>
        #secure3d-frame {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 9999999;
        }

        #secure3d-frame.text {
            color: black;
        }

        #country_type-error {
            margin-left: 130px;
        }
    </style>
</head>

<body class="<jcms:site:language-class/>">

<!-- Body main wrapper start -->
<div class="body-wrapper">

    <!-- HEADER AREA START (header-5) -->
    <jcms:module:header/>
    <!-- HEADER AREA END -->

    <!-- Utilize Cart Menu Start -->
    <jcms:module:product:cart-menu/>
    <!-- Utilize Cart Menu End -->

    <!-- Utilize Mobile Menu Start -->
    <jcms:module:menu:mob-menu/>
    <!-- Utilize Mobile Menu End -->

    <div class="ltn__utilize-overlay"></div>

    <!-- BREADCRUMB AREA START -->
    <!-- <jcms:module:cart:checkout-bread /> -->
    <!-- BREADCRUMB AREA END -->

    <!-- WISHLIST AREA START -->
    <div class="ltn__checkout-area mb-105">
        <div class="container mx-auto">
            <jcms:module:cart:checkout-form/>
        </div>
    </div>
    <!-- WISHLIST AREA START -->

    <!-- FOOTER AREA START -->
    <jcms:module:footer/>
    <!-- FOOTER AREA END -->

    <iframe name="secure3d-frame" id="secure3d-frame"></iframe>
</div>
<!-- Body main wrapper end -->

<!-- All JS Plugins -->
<script src="js/plugins.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<!-- Main JS -->
<script src="js/main.js"></script>

<!-- Custom JS -->
<script src="js/custom.js"></script>
<!--<script type="text/javascript" src='https://www.simplify.com/commerce/v1/simplify.js'></script>-->

<script>
    var base_url = $('base').attr('url');

    $(document).ready(function () {

        // Apply coupon
        $('.coupon-btn').on('click', function () {
            var coupon = $('#coupon').val();
            if (coupon.length === 0) {
                $('p#couponMsg')
                    .removeClass("alert-success")
                    .addClass("alert alert-danger")
                    .html("<jcms:module:common_language:CHECKOUT_FORM_COUPON_ERROR/>")
                    .css('display', 'block')
                    .fadeOut(8000);
            } else {
                $(this).attr("disabled", "true").html('<jcms:module:common_language:CONTACT_FORM_ERROR_PROCESSING/>');
                $.ajax({
                    type: "POST",
                    dataType: "JSON",
                    url: base_url + "add_coupon.php",
                    data: "action=add_coupon&coupon=" + coupon,
                    success: function (data) {
                        var msg = eval(data);
                        if (msg.action == 'success') {
                            $(".coupon-btn").html('<jcms:module:common_language:CHECKOUT_FORM_COUPON_APPLIED/>');
                            $('#coupon').prop('readonly', true);
                            $('#couponMsg')
                                .removeClass("alert-danger")
                                .addClass("alert alert-success")
                                .html(msg.message)
                                .css('display', 'block')
                                .fadeOut(8000);

                            // sub total of all products
                            var sub_total = $('input[name="sub_total"]').val();

                            // discount on sub total
                            var discountAmt = parseFloat(sub_total) * parseFloat(msg.discount) / 100;
                            discountAmt = discountAmt.toFixed(2);

                            // showing discount amount row
                            $('#coupon-discount').css('display', 'table-row');
                            $('#coupon-discount-amount').html('NPR ' + discountAmt);
                            $('input[name="discount_amt"]').val(discountAmt);

                            // getting shipping amount
                            var shippingAmt = $('input[name="shipping_amt"]').val();

                            // totaling all costs
                            var NewTotal = parseFloat(shippingAmt) + parseFloat(sub_total) - parseFloat(discountAmt);
                            NewTotal = NewTotal.toFixed(2);

                            $('#grand-total').html('NPR ' + NewTotal);
                            $('input[name="grand_total"]').val(NewTotal);
                        }
                        if (msg.action == 'unsuccess') {
                            $('#coupon').val('');
                            $(".coupon-btn").removeAttr("disabled").html('Apply Coupon');
                            $('#couponMsg')
                                .removeClass("alert-success")
                                .addClass("alert alert-danger")
                                .html(msg.message)
                                .css('display', 'block')
                                .fadeOut(8000);
                        }
                    }
                });
            }
        });

        // Shipping
        /*$('#country').on('change', function () {
            var country = $(this).val();
            $.ajax({
                type: "POST",
                dataType: "JSON",
                url: base_url + "add_coupon.php",
                data: "action=ship_country&country=" + country,
                success: function (data) {
                    var msg = eval(data);

                    if (msg.choose_type === 'no') {
                        // remove country type
                        $('select[name="country_type"]').addClass('d-none');

                        // sub total of all products
                        var sub_total = $('input[name="sub_total"]').val();

                        // discount amount
                        var discount_amt = $('input[name="discount_amt"]').val();

                        // showing shipping costs
                        var shipping_cost = parseFloat(msg.shipping_cost);
                        shipping_cost = shipping_cost.toFixed(2);
                        $('#shipping-amount').html('NPR ' + shipping_cost);
                        $('input[name="shipping_amt"]').val(shipping_cost);

                        // totaling all costs
                        var NewTotal = parseFloat(msg.shipping_cost) + parseFloat(sub_total) - parseFloat(discount_amt);
                        NewTotal = NewTotal.toFixed(2);

                        $('#grand-total').html('NPR ' + NewTotal);
                        $('input[name="grand_total"]').val(NewTotal);
                    }
                    if (msg.choose_type === 'yes') {
                        // show country type
                        $('select[name="country_type"]').removeClass("d-none");
                    }
                }
            });
        });*/

        // Shippinh Type
        /*$('#country_type').on('change', function () {
            var country = $('#country').val();
            var ctype = $(this).val();
            $.ajax({
                type: "POST",
                dataType: "JSON",
                url: base_url + "add_coupon.php",
                data: "action=ship_country_type&country=" + country + "&type=" + ctype,
                success: function (data) {
                    var msg = eval(data);

                    // sub total of all products
                    var sub_total = $('input[name="sub_total"]').val();

                    // discount amount
                    var discount_amt = $('input[name="discount_amt"]').val();

                    // showing shipping costs
                    var shipping_cost = parseFloat(msg.shipping_cost);
                    shipping_cost = shipping_cost.toFixed(2);
                    $('#shipping-amount').html('NPR ' + shipping_cost);
                    $('input[name="shipping_amt"]').val(shipping_cost);

                    // totaling all costs
                    var NewTotal = parseFloat(msg.shipping_cost) + parseFloat(sub_total) - parseFloat(discount_amt);
                    NewTotal = NewTotal.toFixed(2);

                    $('#grand-total').html('NPR ' + NewTotal);
                    $('input[name="grand_total"]').val(NewTotal);
                }
            });
        });*/

        // Shipping address is same as Address
        $('input[name=ship_same_add]').on('change', function () {
            if ($(this).is(':checked')) {
                var mainAddress = $('input[name=address]').val();
                $('input[name=shipping_address]').val(mainAddress);
            } else {
                $('input[name=shipping_address]').val('');
            }
        });

        // Choosing Payment Method "payment_at_store", reduce shipping cost to 0
        /*$('input[name=payment_method]').on('change', function () {
            var payment_method = $(this).val();
            if (payment_method === 'payment_at_store') {
                // sub total of all products
                var sub_total = $('input[name="sub_total"]').val();

                // discount amount
                var discount_amt = $('input[name="discount_amt"]').val();

                // showing shipping costs
                var shipping_cost = 0;
                shipping_cost = shipping_cost.toFixed(2);
                $('#shipping-amount').html('NPR ' + shipping_cost);
                $('input[name="shipping_amt"]').val(shipping_cost);

                // totaling all costs
                var NewTotal = parseFloat(sub_total) - parseFloat(discount_amt);
                NewTotal = NewTotal.toFixed(2);

                $('#grand-total').html('NPR ' + NewTotal);
                $('input[name="grand_total"]').val(NewTotal);
            }
            else {
                var country = $('#country').val();
                $.ajax({
                    type: "POST",
                    dataType: "JSON",
                    url: base_url + "add_coupon.php",
                    data: "action=ship_country&country=" + country,
                    success: function (data) {
                        var msg = eval(data);

                        // sub total of all products
                        var sub_total = $('input[name="sub_total"]').val();

                        // discount amount
                        var discount_amt = $('input[name="discount_amt"]').val();

                        // showing shipping costs
                        var shipping_cost = parseFloat(msg.shipping_cost);
                        shipping_cost = shipping_cost.toFixed(2);
                        $('#shipping-amount').html('NPR ' + shipping_cost);
                        $('input[name="shipping_amt"]').val(shipping_cost);

                        // totaling all costs
                        var NewTotal = parseFloat(msg.shipping_cost) + parseFloat(sub_total) - parseFloat(discount_amt);
                        NewTotal = NewTotal.toFixed(2);

                        $('#grand-total').html('NPR ' + NewTotal);
                        $('input[name="grand_total"]').val(NewTotal);
                    }
                });
            }
        });*/

        // Delivery Charge
        $('#shipping_district').on('change', function () {
            var selectedOption = $("#shipping_district option:selected");
            var delivery_charge = parseFloat(selectedOption.data("dc")).toFixed(2);

            // sub total of all products
            var sub_total = $('input[name="sub_total"]').val();

            // discount amount
            var discount_amt = $('input[name="discount_amt"]').val();

            $('#shipping-amount').html('NPR ' + delivery_charge);
            $('input[name="shipping_amt"]').val(delivery_charge);

            // totaling all costs
            var NewTotal = parseFloat(delivery_charge) + parseFloat(sub_total) - parseFloat(discount_amt);
            NewTotal = NewTotal.toFixed(2);

            $('#grand-total').html('NPR ' + NewTotal);
            $('input[name="grand_total"]').val(NewTotal);
        });

        // Create an account
        $('#create_account').on('click', function () {
            if ($(this).is(':checked')) {
                $('#create_password').parent().parent().removeClass('d-none');
            } else {
                $('#create_password').parent().parent().addClass('d-none');
            }
        })

        $('#checkoutForm').validate({
            errorElement: 'span',
            errorClass: 'validate-has-error text-danger',
            rules: {
                fname: {required: !0},
                lname: {required: !0},
                email: {required: !0, email: !0},
                phone: {required: !0},
                country: {required: !0},
                country_type: {required: !0},
                region: {required: !0},
                address: {required: !0},
                city: {required: !0},
                post_code: {required: !0},
                shipping_country: {required: !0},
                shipping_district: {required: !0},
                shipping_city: {required: !0},
                shipping_address: {required: !0},
                shipping_post_code: {required: !0},
                create_password: {required: !0},
                cc_number: {required: !0},
                cc_cvc: {required: !0},
                cc_exp_month: {required: !0},
                cc_exp_year: {required: !0},
                agree: {required: !0}
            },
            messages: {
                fname: {required: "<jcms:module:common_language:REGISTER_FORM_FIRST_NAME_ERROR/>"},
                lname: {required: "<jcms:module:common_language:REGISTER_FORM_LAST_NAME_ERROR/>"},
                email: {
                    required: "<jcms:module:common_language:REGISTER_FORM_EMAIL_ERROR/>",
                    email: "<jcms:module:common_language:REGISTER_FORM_ADDRESS_ERROR/>"
                },
                phone: {required: "<jcms:module:common_language:REGISTER_FORM_PHONE_ERROR/>"},
                country: {required: "<jcms:module:common_language:CHECKOUT_FORM_COUNTRY_ERROR/>"},
                country_type: {required: "<jcms:module:common_language:CHECKOUT_FORM_SHIPPING_OPTION_ERROR/>"},
                region: {required: "<jcms:module:common_language:CHECKOUT_FORM_REGION_ERROR/>"},
                address: {required: "<jcms:module:common_language:REGISTER_FORM_ADDRESS_ERROR/>"},
                city: {required: "<jcms:module:common_language:CHECKOUT_FORM_CITY_ERROR/>"},
                post_code: {required: "<jcms:module:common_language:CHECKOUT_FORM_POST_CODE_ERROR/>"},
                shipping_country: {required: "Choose your Shipping Country"},
                shipping_district: {required: "Choose your Shipping District"},
                shipping_city: {required: "Enter your Shipping city"},
                shipping_address: {required: "Enter your Shipping Address"},
                shipping_post_code: {required: "Enter your Shipping Post Code"},
                create_password: {required: "Enter your Password"},
                cc_number: {required: "Enter your Credit Card Number"},
                cc_cvc: {required: "Enter your Credit Card CVC"},
                cc_exp_month: {required: "Enter your Credit Card Expiry Month"},
                cc_exp_year: {required: "Enter your Credit Card Expiry Year"},
                agree: {required: "<jcms:module:common_language:CHECKOUT_FORM_ACCEPT_ERROR/>"}
            },
            submitHandler: function (form) {
                $("button#checkoutSubmit").attr("disabled", "true").text('<jcms:module:common_language:CONTACT_FORM_ERROR_PROCESSING/>');

                var payment_method = $('input[name=payment_method]:checked').val();

                if (payment_method === 'credit_card') {
                    processPayment();
                } else {
                    var Frmval = $("form#checkoutForm").serialize();
                    $.ajax({
                        type: "POST",
                        dataType: "JSON",
                        url: base_url + "includes/controllers/ajax.bookinginfo.php",
                        data: "action=request_inquiry&" + Frmval,
                        success: function (data) {
                            var msg = eval(data);
                            if (msg.action == 'unsuccess') {
                                $('#checkoutMsg')
                                    .html(msg.message)
                                    .removeClass('alert-success')
                                    .addClass('alert alert-danger')
                                    .css('display', 'block')
                                    .fadeOut(8000);
                                $("button#checkoutSubmit").removeAttr("disabled").text('<jcms:module:common_language:CHECKOUT_PLACE_ORDER/>');
                            }
                            if (msg.action == 'success') {
                                $('#checkoutMsg')
                                    .html(msg.message)
                                    .removeClass('alert-danger')
                                    .addClass('alert alert-success')
                                    .css('display', 'block')
                                    .fadeOut(30000);
                                $("button#checkoutSubmit").removeAttr("disabled").text('<jcms:module:common_language:CHECKOUT_PLACE_ORDER/>');
                                $("form#checkoutForm")[0].reset();
                                setTimeout(function () {
                                    window.location.href = "";
                                }, 30000);
                            }
                            if (msg.payment_form) {
                                $('#checkoutMsg')
                                    .html(msg.message)
                                    .removeClass('alert-danger')
                                    .addClass('alert alert-success')
                                    .css('display', 'block')
                                    .fadeOut(8000);
                                $("button#checkoutSubmit").removeAttr("disabled").text('<jcms:module:common_language:CHECKOUT_PLACE_ORDER/>');
                                $(".empty-div").html(msg.payment_content);
                            }
                        }
                    });
                }

                return false;
            }
        });

        function createInput(name, value) {
            var input = document.createElement('input');
            input.setAttribute('type', 'hidden');
            input.setAttribute('name', name);
            input.setAttribute('value', value);
            return input;
        }

        function createSecure3dForm(data) {
            var secure3dData = data.threedsecure;
            var secure3dForm = document.createElement('form');
            secure3dForm.setAttribute('method', 'POST');
            secure3dForm.setAttribute('action', secure3dData.acsUrl);
            secure3dForm.setAttribute('target', 'secure3d-frame');

            var merchantDetails = secure3dData.md;
            var parReq = secure3dData.paReq;
            var termUrl = secure3dData.termUrl;

            secure3dForm.append(createInput('PaReq', parReq));
            secure3dForm.append(createInput('TermUrl', termUrl));
            secure3dForm.append(createInput('MD', merchantDetails));

            return secure3dForm;
        }

        function processPayment() {
            var actualAmt = parseFloat($('input[name=grand_total]').val()) * 100;
            var payload = {
                action: 'createToken',
                cc_number: $('#cc-number').val(),
                cc_exp_month: $('#cc-exp-month').val(),
                cc_exp_year: $('#cc-exp-year').val(),
                cc_cvc: $('#cc-cvc').val(),
                currency: 'EUR',
                amount: actualAmt
            };

            var ajaxUrl = base_url + "includes/controllers/ajax.bookinginfo.php";

            $.post(ajaxUrl, payload, function (response) {
                var parsed = JSON.parse(response);

                var token = parsed.token;

                if (parsed.error) {
                    console.error("Error creating card token", parsed);
                    if (parsed.errorCode == "validation") {
                        errorMessage = "<p class='myinfobox alert alert-danger'>" + parsed.fieldErrors + "</p>";
                    } else {
                        errorMessage = "<p class='myinfobox alert alert-danger'>" + parsed.error + "</p>";
                    }
                    $(".error").css('display', 'block');
                    $(errorMessage).prependTo('.error').fadeIn(500, function () {
                        $('.myinfobox').delay(8e3).fadeOut(500)
                    });
                    $("button#checkoutSubmit").removeAttr("disabled").text('<jcms:module:common_language:CHECKOUT_PLACE_ORDER/>');
                } else if (parsed.threedsecure.enrolled) {
                    var secure3dForm = createSecure3dForm(parsed);
                    var iframeNode = $('#secure3d-frame');

                    $(secure3dForm).insertAfter(iframeNode);
                    $(window).scrollTop(0);
                    iframeNode.show();

                    var process3dSecureCallback = function (threedsResponse) {
                        console.log('Processing 3D Secure callback...');
                        window.removeEventListener('message', process3dSecureCallback);

                        var simplifyDomain = 'https://www.simplify.com'; // For UAT you can use 'https://uat.simplify.com'

                        if (threedsResponse.origin === simplifyDomain && JSON.parse(threedsResponse.data)['secure3d']['authenticated']) {  // JSON.parse(data.data)['secure3d.authenticated']) {
                            var Frmval = $("form#checkoutForm").serialize();
                            $.ajax({
                                type: "POST",
                                dataType: "JSON",
                                url: base_url + "includes/controllers/ajax.bookinginfo.php",
                                data: "action=request_inquiry&simplifyToken=" + token + "&" + Frmval,
                                success: function (data) {
                                    var msg = eval(data);
                                    if (msg.action == 'unsuccess_payment') {
                                        $('#checkoutMsg')
                                            .html("Payment failed with response... <br/> " + JSON.stringify(msg.message))
                                            .removeClass('alert-success')
                                            .addClass('alert alert-danger')
                                            .css('display', 'block')
                                            .delay(10e3)
                                            .fadeOut(100);
                                        $("button#checkoutSubmit").removeAttr("disabled").text('<jcms:module:common_language:CHECKOUT_PLACE_ORDER/>');
                                    }
                                    if (msg.action == 'unsuccess') {
                                        $('#checkoutMsg')
                                            .html(msg.message)
                                            .removeClass('alert-success')
                                            .addClass('alert alert-danger')
                                            .css('display', 'block')
                                            .fadeOut(8000);
                                        $("button#checkoutSubmit").removeAttr("disabled").text('<jcms:module:common_language:CHECKOUT_PLACE_ORDER/>');
                                    }
                                    if (msg.action == 'success') {
                                        $('#checkoutMsg')
                                            .html(msg.message)
                                            .removeClass('alert-danger')
                                            .addClass('alert alert-success')
                                            .css('display', 'block')
                                            .fadeOut(30000);
                                        $("button#checkoutSubmit").removeAttr("disabled").text('<jcms:module:common_language:CHECKOUT_PLACE_ORDER/>');
                                        $("form#checkoutForm")[0].reset();
                                        setTimeout(function () {
                                            window.location.href = "";
                                        }, 30000);
                                    }
                                    $('html, body').animate({
                                        scrollTop: $("#checkoutSubmit").offset().top
                                    }, 500);
                                    iframeNode.hide();
                                }
                            });
                        }
                    };

                    iframeNode.on('load', function () {
                        window.addEventListener('message', process3dSecureCallback);
                    });

                    secure3dForm.submit();
                } else {
                    console.error("Error creating card token", parsed);
                    errorMessage = "<p class='myinfobox alert alert-danger'>3D Secure is not enabled on this Card. Payment Failure !!!</p>";
                    $(".error").css('display', 'block');
                    $(errorMessage).prependTo('.error').fadeIn(500, function () {
                        $('.myinfobox').delay(8e3).fadeOut(500)
                    });
                    $("button#checkoutSubmit").removeAttr("disabled").text('<jcms:module:common_language:CHECKOUT_PLACE_ORDER/>');
                }
            });
        }
    });

</script>

</body>
</html>