<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <jcms:site:seotitle/>
    <jcms:site:fevicon/>
    <!-- font language -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css'>
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css'>


    <!-- Font Icons css -->
    <link rel="stylesheet" href="css/font-icons.css">
    <!-- plugins css -->
    <link rel="stylesheet" href="css/plugins.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="css/responsive.css">

    <style>
        @media (min-width: 1080px) {
            .product-list {
                grid-template-columns: repeat(4, 1fr);

            }
        }

        @media (max-width: 769px) {
            .product-list {
                grid-template-columns: repeat(2, 1fr);

            }
        }

        @media (max-width: 565px) {
            .product-list {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    </style>
</head>

<body class="<jcms:site:language-class/>">

    <jcms:module:header/>

    <jcms:module:product:cart-menu/>

    <jcms:module:menu:mob-menu/>

    <div class="ltn__utilize-overlay"></div>

    <div class="container ltn__image-slider-mine mt-40">

        <jcms:module:slideshow:images/>

    </div>

    <div class="container product-list mt-80">
        <div class="product" style="background-color: #F2C8C8;">
            <img src='https://s3-alpha-sig.figma.com/img/c314/c5de/e4934ee97a2cdb518fff7c73a5e2883b?Expires=1714348800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=lx~wDpO99GKQjt7lE3Fyaony3vRhgEBvMQU5Y1c5B8Gmd6eBjWBF6GtjX2yLe2rbwoTDkL3r~yoslAK9NjEGdhBhEiUiiPvxrNnLbCnCp9x521n9u1kGGmcm5Ji~b8DiIEYZYwb8chaimMRI1lQzXyfdUjfxz8b92D1zAqIyLernex9wv7yDlnvvB1dQ6SUHDI4YfLgtvS1KqTuQ1N29LXDiNK23DCrNwJAqe4R79OMwuuelb8GC-QgElC5TqEeNMEI5Sqav4Pc-wtKzGh4wm6kuW48uQjBlTLm6nOrdNjqYJ9x5objfSwcEmO7p4npQupZCjvRLTabYUeDndG3xbQ__'
                alt="Product 1">
            <div class="product-title">
                <h5>Lab Service</h5>
                <p>Get service at your home</p>
            </div>
        </div>
        <div class="product" style="background-color: #F2DCC8;">
            <img src='https://s3-alpha-sig.figma.com/img/f584/032c/6e49557ab8b94ba860d44662455189d3?Expires=1714348800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=QgNILEpNviDz1cLJZz-LwwKaia8FcDizITcuv~ohGKUbddDaXb-O9jVJbzSxTURaAzcffrE4gm-fe3fHMVCTMiYGG9hxcR7RtDzjL0mXRqeVWZkRc6dZ4aJhBO7mTrt3H9cdcmdGiEUuGqurSWJwnkB2wyNw7r8Vu-JUqHKwbRYv9lJ~0U~izL4urzCGYDpv6FIptiQg~nGZJHjJE56No7QTcJKFyIrACvwVE0fx--iUafi8YpQE-XgwFEfDgrv1ZvXNWkL2Lt55tVj0gr-8qDCFm6NENxHilBl0cyDaT8QgzHcWZOtGZJaa2ZPkkjkvHCkdR9be0NLmWbqS83ETCw__'
                alt="Product 1">
            <div class="product-title">
                <h5>Lab Service</h5>
                <p>Take care of you skin</p>
            </div>
        </div>
        <div class="product" style="background-color: #F1F2C8;">
            <img src='https://s3-alpha-sig.figma.com/img/d4ed/3119/920a186ee16b09df5348c0f231e05479?Expires=1714348800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=HFCJ6hebPGoTMoMLFoGuCyB-DOE9aqNsGyyOtgPJykCMONRQUoJYZB4mXxnIYj5PLDuG4tzGGw-nj8te9K15AVLtlCaBHmYSyBlD~YFXhMO9lBO8zE40ZSa9-PirFKpBWu4m2P86DL7~UFvEgsbx0napaz62Lyk26Cy6-fjmpsuyGFVbmm8Rc377qAdiLJERYwhuuOB4D2tpb42oSgtwNV1Z2D6EK5ZvEvzYNrFSwwWHViXDjHzVJyNu-3PWBPSm0LBghfwQwlCC4MtpUP1r2oocoINCzYwLKJHv7Y6mVxhPFmPEYjaQLpnOohrJ3mWdElHn~HT~M7d~mKgzek8D3A__'
                alt="Product 1">
            <div class="product-title">
                <h5>Physiotherapy</h5>
                <p>Take care of you skin</p>
            </div>
        </div>
        <div class="product" style="background-color: #C8F2D3;">
            <img src='https://s3-alpha-sig.figma.com/img/f584/032c/6e49557ab8b94ba860d44662455189d3?Expires=1714348800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=QgNILEpNviDz1cLJZz-LwwKaia8FcDizITcuv~ohGKUbddDaXb-O9jVJbzSxTURaAzcffrE4gm-fe3fHMVCTMiYGG9hxcR7RtDzjL0mXRqeVWZkRc6dZ4aJhBO7mTrt3H9cdcmdGiEUuGqurSWJwnkB2wyNw7r8Vu-JUqHKwbRYv9lJ~0U~izL4urzCGYDpv6FIptiQg~nGZJHjJE56No7QTcJKFyIrACvwVE0fx--iUafi8YpQE-XgwFEfDgrv1ZvXNWkL2Lt55tVj0gr-8qDCFm6NENxHilBl0cyDaT8QgzHcWZOtGZJaa2ZPkkjkvHCkdR9be0NLmWbqS83ETCw__'
                alt="Product 1">
            <div class="product-title">
                <h5>Neuropathy</h5>
                <p>Take care of you skin</p>
            </div>
        </div>


    </div>

    <div class="container">

        <div class="access flex-column flex-lg-row f mt-80">

            <div class="access-items">
                <img src='https://s3-alpha-sig.figma.com/img/e2d4/ec90/621d659e0c9bacc4e26f0ff591abfa14?Expires=1714348800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=OUP73vWstD8azsxDB12kDVxlhQ1CQeN~dribqj~NzpcUZ3jSxQ2hWzZyJd3Ree5N0Lpu95YaXwGtv68-PgtrNivDZFWtnPuj7zRzp3LMQYRMzHXcrRrVaAjveKSZ~O~oYxZ0FaO78mXpIJg4EBeSzgd79gacrOa2YFO1d4gBu1VBREtoHzFeDTY30Dnn7jYVUxe2yYSkkND52mFYk5iHkEE1dGfUGmc2WZIrJeiZJBvpCCYKM8Jt4S8wNpteD3vHwgUoyvepvZdMBEUCf6jS4YaDuQgP1FeA2UmDx9lycWG0WrLml9VkvkJ1nCZ1-Jf0131eOHfw8bJZ336cf5IeQA__'
                    alt="Product 1">
                <div class="access-title">
                    <h3>Lab Easy Access</h3>
                    <p>Get service at your home</p>
                </div>

            </div>
            <div class="access-items">
                <img src='https://s3-alpha-sig.figma.com/img/0ce6/a2a3/6b996048d8de82f3d1f1abc27a21afb1?Expires=1714348800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=U0N5nC0CZdzlFj2AgFUfVU52EzhKvwDTeLxSc-0aX8OUtLIQolKum3G4cPpI7sfAso8QyK3sJ0Vo05UtZstA1fQNkCPtCFJdhTOpf9R5wCYgg6tglTU1Bp-Wy6J9McO0H9d3yYksfHQM1AOZfm8nKCzB90EjZ5qVZMDLOAv6Y-TGAUyHBwrvvKDCBlTtSAx-MQlZAwoud3NLK5aaKx~eyUlfFaDQsvVG8Pgg2qLle4BZPztV9uwJ1-5ZebBdcCjQWvOroB4lUdAccsdnmpJq5ni-DqEagI9rtsdRVhYtbb8RJY3z7zMfTG~JcIKOGf4Oq11~fTtFAvi~ietjBspezA__'
                    alt="Product 1">
                <div class="access-title">
                    <h3>Get Service at home</h3>
                    <p>Get service at your home</p>
                </div>

            </div>
            <div class="access-items">
                <img src='https://s3-alpha-sig.figma.com/img/c0cb/c8fd/e692707e4c4a825c989349566413b340?Expires=1714348800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=pLSDKg32ILx7LEPI~cadY58eJfJKnNdWAh1mHDEXkKi6xW7jNvW8SryiWvpmEAIZBSO2MZBUbDq5SrmliBs24~5pTq0vzmBYnpXHIbpdrmxIkZA6vpTJOEf1X1ZVLGv-d9~gcSFf~1~FgB9a~y6eQBOLojlB3Witu~FsOEQXdhMiIRwfvvfQ4wOAKiRmqSpR02YCzK276bZi08BpitJE6W7Zj2hwIV4JVlJ3WjC4QdIK25RV4KYqac4BELAfmBigA0OOGSCuAl4sDJE7TH9nrOaRMrNcI2EW6mW9DrH15C8ttcvvcaClULi-tMB3pEzsN~rVMpMT3FNbKLtxZ6V15Q__'
                    alt="Product 1">
                <div class="access-title">
                    <h3>Doctor Recommended Products</h3>
                    <p>Get service at your home</p>
                </div>

            </div>

        </div>
    </div>

   <jcms:module:product:home-gift-sets/>

<jcms:module:product:home-gift-sets-modal/>




    <div class="container mx-auto">

        <div class="popular-brands mt-80 mb-80">
            <h3>Popular Brands</h3>
            <div class="brand-images-wrapper owl-carousel owl-theme">
               <jcms:module:product:home-brand/>
              </div>

            </div>


        </div>
    </div>

    <jcms:module:footer/>


    <!-- All JS Plugins -->
    <script src="js/plugins.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <!-- Main JS -->
    <script src="js/main.js"></script>

    <!-- Custom JS -->
    <script src="js/custom.js"></script>

    <jcms:module:product:home-gift-sets-script/>
    <!-- <script src='https://code.jquery.com/jquery-3.5.1.slim.min.js'></script> -->

    <script src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js'></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js'></script>
    <!-- Owl Carousel JS -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js'></script>
    <script>
      $(document).ready(function(){
        $(".owl-carousel").owlCarousel({
          loop:true,
          margin:10,
          nav:true,
          responsive:{
            0:{
              items:1
            },
            600:{
              items:3
            },
            1000:{
              items:6
            }
          }
        });
      });
    </script>

    <script>
        var base_url = $('base').attr('url');
        //  console.log(base_url);
        // Might be needed to keep open tab open even when page has been reloaded
        $(document).ready(function () {

            $('.ltn__image-slider-mine').slick({
                rtl: false,
                arrows: true,
                dots: false,
                infinite: true,
                speed: 300,
                slidesToShow: 1,
                slidesToScroll: 1,
                centerMode: true,
                centerPadding: '0px',
                prevArrow: '<a class="slick-prev left"><i>&#8592;</i></a>',
                nextArrow: '<a class="slick-next right"><i>&#8594;</i></a>',
                // prevArrow: '<a class="slick-prev"><i class="fas fa-arrow-left" alt="Arrow Icon"></i></a>',
                // nextArrow: '<a class="slick-next"><i class="fas fa-arrow-right" alt="Arrow Icon"></i></a>',
                responsive: [
                    // {
                    //     breakpoint: 992,
                    //     settings: {
                    //         arrows: false,
                    //         dots: true,
                    //         slidesToShow: 2,
                    //         slidesToScroll: 1
                    //     }
                    // },
                    // {
                    //     breakpoint: 768,
                    //     settings: {
                    //         arrows: false,
                    //         dots: true,
                    //         slidesToShow: 2,
                    //         slidesToScroll: 1,
                    //     }
                    // },
                    // {
                    //     breakpoint: 580,
                    //     settings: {
                    //         arrows: false,
                    //         dots: true,
                    //         slidesToShow: 1,
                    //         slidesToScroll: 1
                    //     }
                    // }
                ]
            });
        });
    </script>

</body>

</html>