<!doctype html>
<html class="no-js" lang="el-GR">

<head>
    <jcms:site:seotitle/>

    <jcms:site:fevicon/>

    <!-- font language -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <!-- Font Icons css -->
    <link rel="stylesheet" href="css/font-icons.css">
    <!-- plugins css -->
    <link rel="stylesheet" href="css/plugins.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="css/responsive.css">
</head>
</style>

<body class="<jcms:site:language-class/>">

    <jcms:module:header/>

    <div id="ltn__utilize-cart-menu" class="ltn__utilize ltn__utilize-cart-menu">
        <div class="ltn__utilize-menu-inner ltn__scrollbar">
            <div class="ltn__utilize-menu-head">
                <span class="ltn__utilize-menu-title">Cart</span>
                <button class="ltn__utilize-close">&times;</button>
            </div>
            <div class="mini-cart-product-area ltn__scrollbar">

                <div class="mini-cart-item clearfix">
                    <h6>No Items in Cart</h6>
                </div>

            </div>
            <div class="mini-cart-footer">
                <div class="mini-cart-sub-total">
                    <h5>Subtotal: <span class="sub-total-mini-cart">$ 0.00</span></h5>
                </div>
                <div class="btn-wrapper">
                    <a href="http://localhost/sulavhealth/cart" class="theme-btn-1 btn btn-effect-1">View Cart</a>
                    <a href="http://localhost/sulavhealth/checkout" class="theme-btn-2 btn btn-effect-2">Checkout</a>
                </div>
            </div>
        </div>
    </div>

    <div id="ltn__utilize-mobile-menu" class="ltn__utilize ltn__utilize-mobile-menu">
        <div class="ltn__utilize-menu-inner ltn__scrollbar">
            <div class="ltn__utilize-menu-head">
                <div class="site-logo">
                    <a href="http://localhost/sulavhealth/home"><img
                            src='https://sulavhealth.com/images/preference/qOKdD-sulav.jpg'
                            alt="Welcome To Sulav Health - ghar bata, ghar mai, ghar sammai"></a>
                </div>
                <button class="ltn__utilize-close">&times;</button>
            </div>
            <div class="ltn__utilize-menu">
                <ul>
                    <li class=""><a href="http://localhost/sulavhealth/dietary-supplement"
                            id="id_dietary_supplements">DIETARY SUPPLEMENTS</a></li>
                    <li class=""><a href="http://localhost/sulavhealth/#" id="id_lab_service">LAB SERVICE</a></li>
                    <li class="menu-icon"><a href="http://localhost/sulavhealth/#" id="id_travel_medicines">TRAVEL
                            MEDICINES</a>
                        <ul>
                            <li><a href="http://localhost/sulavhealth/#" id="id_trekking_package">TREKKING
                                    PACKAGE</a></li>
                            <li><a href="http://localhost/sulavhealth/#" id="id_foreign_tour_package">FOREIGN TOUR
                                    PACKAGE</a></li>
                        </ul>
                    </li>
                    <li class=""><a href="http://localhost/sulavhealth/#" id="id_skin_care">SKIN CARE</a></li>
                    <li class=""><a href="http://localhost/sulavhealth/#" id="id_hygiene">HYGIENE</a></li>
                    <li class=""><a href="http://localhost/sulavhealth/#" id="id_baby_care">BABY CARE</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="ltn__utilize-overlay"></div>

    <div class="container mx-auto product-filter">
        <div class="row">
            <div class="product-filter-side col-md-2">
                <h2>Filters</h2>
                <div class="form-group">
                    <label>Brands:</label><br>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="brand1" value="Brand 1">
                        <label class="custom-control-label" for="brand1">Brand 1</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="brand2" value="Brand 2">
                        <label class="custom-control-label" for="brand2">Brand 2</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="brand3" value="Brand 3">
                        <label class="custom-control-label" for="brand3">Brand 3</label>
                    </div>
                </div>

                <div class="form-group">
                    <label>Ratings:</label><br>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="rating1" value="5">
                        <label class="custom-control-label" for="rating1">5 Stars</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="rating2" value="4">
                        <label class="custom-control-label" for="rating2">4 Stars</label>
                    </div>
                    <!-- Add more checkboxes for other rating options -->
                </div>

                <div class="form-group">
                    <label>Date Added:</label><br>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="dateToday" value="today">
                        <label class="custom-control-label" for="dateToday">Today</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="dateThisWeek" value="this_week">
                        <label class="custom-control-label" for="dateThisWeek">This Week</label>
                    </div>
                </div>

                <div class="form-group">
                    <label>Colors:</label><br>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="colorRed" value="Red">
                        <label class="custom-control-label" for="colorRed">Red</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="colorBlue" value="Blue">
                        <label class="custom-control-label" for="colorBlue">Blue</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="colorGreen" value="Green">
                        <label class="custom-control-label" for="colorGreen">Green</label>
                    </div>
                </div>
                <div class="form-group">
                    <label>Price Range:</label><br>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="price0-50" value="0-50">
                        <label class="custom-control-label" for="price0-50">$0 - $50</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="price50-100" value="50-100">
                        <label class="custom-control-label" for="price50-100">$50 - $100</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="price100-200" value="100-200">
                        <label class="custom-control-label" for="price100-200">$100 - $200</label>
                    </div>
                </div>
                <!-- <button type="button" class="btn btn-primary">Apply Filter</button> -->
            </div>
            <div class="col-md-10 product-filter-right">
                <h2>Product List</h2>
                <div class="row">
                    <div class="col-xl-3 col-sm-6 col-6">
                        <div class="ltn__product-item ltn__product-item-3 text-center">
                            <div class="product-img product_hove"
                                data-href="http://localhost/sulavhealth/product/lab-service-1">
                                <img src='https://s3-alpha-sig.figma.com/img/c96b/1756/24011e309c70d99014e223611c750fb2?Expires=1714348800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=o4k6TR4XMxy4MGvuuALpowZ3ELuTvOTFF-YCtHHjq18AxhjM6jgHuH9B3UtuafX6RXuYCSZtAaqAB4QQJy4PDiEfn-wCMc0irkBR-XvonhK4uSZ9QinF3ztck1AfqEjQTh4bPzOsrPA~Zd~FSb9Em11nLFCMGg2HNU3hQB7cCt5XHcgcH--iODjkHYKAkTeTDtEc1d4fUzZ1cCfiUTdg3EwK68a6uiwYMEvK76Z-3XHXay507LiFdUzm3YFX7y~bttjr5BhQifiS82XNp9zwX-VDOSar~ojOdA-WmhO15rvISUojRWO2pPt8t-cwUv-gKYDWY9X~sORDbm5a~ta7Iw__'
                                    alt="lab service 1">
                            </div>
                            <div class="product-info">
                                <h4 class="product-title">Mamaearth</h4>
                                <a href="http://localhost/sulavhealth/product/lab-service-1"
                                    class="product-link">Mamaearth Mineral Based Sunscreen
                                    50ml</a>
                                <div class="product-price">
                                    <span>NPR 250.00</span>
                                    <del>NPR 290.00</del>
                                </div>
                                <div class="product-action">
                                    <ul>
                                        <li>
                                            <a href="#" class="add-wishlist" title="Add to Wishlist"
                                                data-cartid="lab-service-1">
                                                <i class="far fa-heart"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" title="ADD TO CART" class="add-to-cart" data-toggle="modal"
                                                data-target="#quick_view_modal_product_lab-service-1">
                                                Add to Cart
                                                <i class="fas fa-shopping-cart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-sm-6 col-6">
                        <div class="ltn__product-item ltn__product-item-3 text-center">
                            <div class="product-img product_hove"
                                data-href="http://localhost/sulavhealth/product/lab-service-1">
                                <img src='https://s3-alpha-sig.figma.com/img/0eda/e88a/49104b860350df80df2ab72244e6bb00?Expires=1714348800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=dhCBQBGHVCDZdvWKTCU8kMH9Pw08ag8zbdgVDFFqCVapAu~vacOrKAiQ2RAnbooQbew3Q5yEmJT500G0DgAUZH5bRQvvXvlVuWn-jOqcO4YaD0FbB5sh2hmhYJ53V4yLwXwwDiKmI3kzIeOg7w4Zxv5fusn4y3DMQNAckDDjl98Ffusv4ja7JVX4J65ZJ7AdOPd8eSjAeEyTEIQwER3VMlP4GNL~bojkD-SjJ8JRh~3JrtAMPMELrww9yNKPLequfXUkMWan3BOEz0qsslP83xm23rxYb47Z~LSn5epn2QHtG57APicIl~cPWZtoHrHxjxW486J1aneNMQRgTA~9Tw__'
                                    alt="lab service 1">
                            </div>
                            <div class="product-info">
                                <h4 class="product-title">Mamaearth</h4>
                                <a href="http://localhost/sulavhealth/product/lab-service-1"
                                    class="product-link">Mamaearth Mineral Based Sunscreen
                                    50ml</a>
                                <div class="product-price">
                                    <span>NPR 250.00</span>
                                    <del>NPR 290.00</del>
                                </div>
                                <div class="product-action">
                                    <ul>
                                        <li>
                                            <a href="#" class="add-wishlist" title="Add to Wishlist"
                                                data-cartid="lab-service-1">
                                                <i class="far fa-heart"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" title="ADD TO CART" class="add-to-cart" data-toggle="modal"
                                                data-target="#quick_view_modal_product_lab-service-1">
                                                Add to Cart
                                                <i class="fas fa-shopping-cart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-sm-6 col-6">
                        <div class="ltn__product-item ltn__product-item-3 text-center">
                            <div class="product-img product_hove"
                                data-href="http://localhost/sulavhealth/product/lab-service-1">
                                <img src='https://s3-alpha-sig.figma.com/img/3155/d70c/bcd6c980c5a79272ebaffdd1a0df33ff?Expires=1714348800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=lqIMxSvoUkOulRaqwA95QKIYgU5Kyvwdg6~LjC4fHnDL0JX41CHhwF~fSV0NdBEaCe0bMjgQlgoH1Usrl2MKtCU-SsITTj-5z0Aara4VqBdkdmh0D1LBDirBK5ew3A5BluxtIk~KZCHiRh6RIywGSv-PqTmc8KXt9n11wgUzBa3EVM4fXX6~BuQn-Q19il2L3Z~8wcytUXXsve4dlpB8j9wV3mhE2d7fuZN5rL9s8Smon0RrXpX6hwyLv8YxO8pBcm1IhkvhWAvMK2mOLqTMdjdOmw~-yvCvNNljnUCmdnBSBuWXJkSX7m1zWJw6iTTu5J7QUgj~EDD14gOqsYj7BQ__'
                                    alt="lab service 1">
                            </div>
                            <div class="product-info">
                                <h4 class="product-title">Mamaearth</h4>
                                <a href="http://localhost/sulavhealth/product/lab-service-1"
                                    class="product-link">Mamaearth
                                    Mineral Based Sunscreen 50ml</a>
                                <div class="product-price">
                                    <span>NPR 250.00</span>
                                    <del>NPR 290.00</del>
                                </div>
                                <div class="product-action">
                                    <ul>
                                        <li>
                                            <a href="#" class="add-wishlist" title="Add to Wishlist"
                                                data-cartid="lab-service-1">
                                                <i class="far fa-heart"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" title="ADD TO CART" class="add-to-cart" data-toggle="modal"
                                                data-target="#quick_view_modal_product_lab-service-1">
                                                Add to Cart
                                                <i class="fas fa-shopping-cart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-xl-3 col-sm-6 col-6">
                        <div class="ltn__product-item ltn__product-item-3 text-center">
                            <div class="product-img product_hove"
                                data-href="http://localhost/sulavhealth/product/lab-service-1">
                                <img src='https://s3-alpha-sig.figma.com/img/257b/d0dc/958bf10eef425a555b2f0d7bd61412a5?Expires=1714348800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=SX-tfGnq-iiXkOiRm1JjU9ZNPdmO~rq3TPyOcCSAm8gRUmwQatRvE2EIoAITKDE0~g8vJIudrCtW-y~v1wVjm-99hHu68MVX5slLkDmAWJIRZhiJdBold~SrNDTa1y1C-i7CnKSHVJqeW~dsHj8DeB9FRcuU5CkVftebFg64C0EZkjI2ozWvTsy0DTnSICvFPQKanpszw8NELwFx3xMt~5~qMYe8g8bT0nxtclVwVsdEGc5Ok33D--Qb0aLG-vU0vKreFrAGZGzOCAYNDxeu78jbvQEH8ZdsTM~tXIINBOjuf9EOKd2MrDP02SsbqmlIbKG7BN4TFry0rCy~bGsieg__'
                                    alt="lab service 1">
                            </div>
                            <div class="product-info">
                                <h4 class="product-title">Mamaearth</h4>
                                <a href="http://localhost/sulavhealth/product/lab-service-1"
                                    class="product-link">Mamaearth
                                    Mineral Based Sunscreen 50ml</a>
                                <div class="product-price">
                                    <span>NPR 250.00</span>
                                    <del>NPR 290.00</del>
                                </div>
                                <div class="product-action">
                                    <ul>
                                        <li>
                                            <a href="#" class="add-wishlist" title="Add to Wishlist"
                                                data-cartid="lab-service-1">
                                                <i class="far fa-heart"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" title="ADD TO CART" class="add-to-cart" data-toggle="modal"
                                                data-target="#quick_view_modal_product_lab-service-1">
                                                Add to Cart
                                                <i class="fas fa-shopping-cart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-sm-6 col-6">
                        <div class="ltn__product-item ltn__product-item-3 text-center">
                            <div class="product-img product_hove"
                                data-href="http://localhost/sulavhealth/product/lab-service-1">
                                <img src='https://s3-alpha-sig.figma.com/img/3155/d70c/bcd6c980c5a79272ebaffdd1a0df33ff?Expires=1714348800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=lqIMxSvoUkOulRaqwA95QKIYgU5Kyvwdg6~LjC4fHnDL0JX41CHhwF~fSV0NdBEaCe0bMjgQlgoH1Usrl2MKtCU-SsITTj-5z0Aara4VqBdkdmh0D1LBDirBK5ew3A5BluxtIk~KZCHiRh6RIywGSv-PqTmc8KXt9n11wgUzBa3EVM4fXX6~BuQn-Q19il2L3Z~8wcytUXXsve4dlpB8j9wV3mhE2d7fuZN5rL9s8Smon0RrXpX6hwyLv8YxO8pBcm1IhkvhWAvMK2mOLqTMdjdOmw~-yvCvNNljnUCmdnBSBuWXJkSX7m1zWJw6iTTu5J7QUgj~EDD14gOqsYj7BQ__'
                                    alt="lab service 1">
                            </div>
                            <div class="product-info">
                                <h4 class="product-title">Mamaearth</h4>
                                <a href="http://localhost/sulavhealth/product/lab-service-1"
                                    class="product-link">Mamaearth
                                    Mineral Based Sunscreen 50ml</a>
                                <div class="product-price">
                                    <span>NPR 250.00</span>
                                    <del>NPR 290.00</del>
                                </div>
                                <div class="product-action">
                                    <ul>
                                        <li>
                                            <a href="#" class="add-wishlist" title="Add to Wishlist"
                                                data-cartid="lab-service-1">
                                                <i class="far fa-heart"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" title="ADD TO CART" class="add-to-cart" data-toggle="modal"
                                                data-target="#quick_view_modal_product_lab-service-1">
                                                Add to Cart
                                                <i class="fas fa-shopping-cart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-6">
                        <div class="ltn__product-item ltn__product-item-3 text-center">
                            <div class="product-img product_hove"
                                data-href="http://localhost/sulavhealth/product/lab-service-1">
                                <img src='https://s3-alpha-sig.figma.com/img/c96b/1756/24011e309c70d99014e223611c750fb2?Expires=1714348800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=o4k6TR4XMxy4MGvuuALpowZ3ELuTvOTFF-YCtHHjq18AxhjM6jgHuH9B3UtuafX6RXuYCSZtAaqAB4QQJy4PDiEfn-wCMc0irkBR-XvonhK4uSZ9QinF3ztck1AfqEjQTh4bPzOsrPA~Zd~FSb9Em11nLFCMGg2HNU3hQB7cCt5XHcgcH--iODjkHYKAkTeTDtEc1d4fUzZ1cCfiUTdg3EwK68a6uiwYMEvK76Z-3XHXay507LiFdUzm3YFX7y~bttjr5BhQifiS82XNp9zwX-VDOSar~ojOdA-WmhO15rvISUojRWO2pPt8t-cwUv-gKYDWY9X~sORDbm5a~ta7Iw__'
                                    alt="lab service 1">
                            </div>
                            <div class="product-info">
                                <h4 class="product-title">Mamaearth</h4>
                                <a href="http://localhost/sulavhealth/product/lab-service-1"
                                    class="product-link">Mamaearth Mineral Based Sunscreen
                                    50ml</a>
                                <div class="product-price">
                                    <span>NPR 250.00</span>
                                    <del>NPR 290.00</del>
                                </div>
                                <div class="product-action">
                                    <ul>
                                        <li>
                                            <a href="#" class="add-wishlist" title="Add to Wishlist"
                                                data-cartid="lab-service-1">
                                                <i class="far fa-heart"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" title="ADD TO CART" class="add-to-cart" data-toggle="modal"
                                                data-target="#quick_view_modal_product_lab-service-1">
                                                Add to Cart
                                                <i class="fas fa-shopping-cart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-sm-6 col-6">
                        <div class="ltn__product-item ltn__product-item-3 text-center">
                            <div class="product-img product_hove"
                                data-href="http://localhost/sulavhealth/product/lab-service-1">
                                <img src='https://s3-alpha-sig.figma.com/img/0eda/e88a/49104b860350df80df2ab72244e6bb00?Expires=1714348800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=dhCBQBGHVCDZdvWKTCU8kMH9Pw08ag8zbdgVDFFqCVapAu~vacOrKAiQ2RAnbooQbew3Q5yEmJT500G0DgAUZH5bRQvvXvlVuWn-jOqcO4YaD0FbB5sh2hmhYJ53V4yLwXwwDiKmI3kzIeOg7w4Zxv5fusn4y3DMQNAckDDjl98Ffusv4ja7JVX4J65ZJ7AdOPd8eSjAeEyTEIQwER3VMlP4GNL~bojkD-SjJ8JRh~3JrtAMPMELrww9yNKPLequfXUkMWan3BOEz0qsslP83xm23rxYb47Z~LSn5epn2QHtG57APicIl~cPWZtoHrHxjxW486J1aneNMQRgTA~9Tw__'
                                    alt="lab service 1">
                            </div>
                            <div class="product-info">
                                <h4 class="product-title">Mamaearth</h4>
                                <a href="http://localhost/sulavhealth/product/lab-service-1"
                                    class="product-link">Mamaearth Mineral Based Sunscreen
                                    50ml</a>
                                <div class="product-price">
                                    <span>NPR 250.00</span>
                                    <del>NPR 290.00</del>
                                </div>
                                <div class="product-action">
                                    <ul>
                                        <li>
                                            <a href="#" class="add-wishlist" title="Add to Wishlist"
                                                data-cartid="lab-service-1">
                                                <i class="far fa-heart"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" title="ADD TO CART" class="add-to-cart" data-toggle="modal"
                                                data-target="#quick_view_modal_product_lab-service-1">
                                                Add to Cart
                                                <i class="fas fa-shopping-cart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-sm-6 col-6">
                        <div class="ltn__product-item ltn__product-item-3 text-center">
                            <div class="product-img product_hove"
                                data-href="http://localhost/sulavhealth/product/lab-service-1">
                                <img src='https://s3-alpha-sig.figma.com/img/3155/d70c/bcd6c980c5a79272ebaffdd1a0df33ff?Expires=1714348800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=lqIMxSvoUkOulRaqwA95QKIYgU5Kyvwdg6~LjC4fHnDL0JX41CHhwF~fSV0NdBEaCe0bMjgQlgoH1Usrl2MKtCU-SsITTj-5z0Aara4VqBdkdmh0D1LBDirBK5ew3A5BluxtIk~KZCHiRh6RIywGSv-PqTmc8KXt9n11wgUzBa3EVM4fXX6~BuQn-Q19il2L3Z~8wcytUXXsve4dlpB8j9wV3mhE2d7fuZN5rL9s8Smon0RrXpX6hwyLv8YxO8pBcm1IhkvhWAvMK2mOLqTMdjdOmw~-yvCvNNljnUCmdnBSBuWXJkSX7m1zWJw6iTTu5J7QUgj~EDD14gOqsYj7BQ__'
                                    alt="lab service 1">
                            </div>
                            <div class="product-info">
                                <h4 class="product-title">Mamaearth</h4>
                                <a href="http://localhost/sulavhealth/product/lab-service-1"
                                    class="product-link">Mamaearth
                                    Mineral Based Sunscreen 50ml</a>
                                <div class="product-price">
                                    <span>NPR 250.00</span>
                                    <del>NPR 290.00</del>
                                </div>
                                <div class="product-action">
                                    <ul>
                                        <li>
                                            <a href="#" class="add-wishlist" title="Add to Wishlist"
                                                data-cartid="lab-service-1">
                                                <i class="far fa-heart"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" title="ADD TO CART" class="add-to-cart" data-toggle="modal"
                                                data-target="#quick_view_modal_product_lab-service-1">
                                                Add to Cart
                                                <i class="fas fa-shopping-cart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-xl-3 col-sm-6 col-6">
                        <div class="ltn__product-item ltn__product-item-3 text-center">
                            <div class="product-img product_hove"
                                data-href="http://localhost/sulavhealth/product/lab-service-1">
                                <img src='https://s3-alpha-sig.figma.com/img/257b/d0dc/958bf10eef425a555b2f0d7bd61412a5?Expires=1714348800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=SX-tfGnq-iiXkOiRm1JjU9ZNPdmO~rq3TPyOcCSAm8gRUmwQatRvE2EIoAITKDE0~g8vJIudrCtW-y~v1wVjm-99hHu68MVX5slLkDmAWJIRZhiJdBold~SrNDTa1y1C-i7CnKSHVJqeW~dsHj8DeB9FRcuU5CkVftebFg64C0EZkjI2ozWvTsy0DTnSICvFPQKanpszw8NELwFx3xMt~5~qMYe8g8bT0nxtclVwVsdEGc5Ok33D--Qb0aLG-vU0vKreFrAGZGzOCAYNDxeu78jbvQEH8ZdsTM~tXIINBOjuf9EOKd2MrDP02SsbqmlIbKG7BN4TFry0rCy~bGsieg__'
                                    alt="lab service 1">
                            </div>
                            <div class="product-info">
                                <h4 class="product-title">Mamaearth</h4>
                                <a href="http://localhost/sulavhealth/product/lab-service-1"
                                    class="product-link">Mamaearth
                                    Mineral Based Sunscreen 50ml</a>
                                <div class="product-price">
                                    <span>NPR 250.00</span>
                                    <del>NPR 290.00</del>
                                </div>
                                <div class="product-action">
                                    <ul>
                                        <li>
                                            <a href="#" class="add-wishlist" title="Add to Wishlist"
                                                data-cartid="lab-service-1">
                                                <i class="far fa-heart"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" title="ADD TO CART" class="add-to-cart" data-toggle="modal"
                                                data-target="#quick_view_modal_product_lab-service-1">
                                                Add to Cart
                                                <i class="fas fa-shopping-cart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-sm-6 col-6">
                        <div class="ltn__product-item ltn__product-item-3 text-center">
                            <div class="product-img product_hove"
                                data-href="http://localhost/sulavhealth/product/lab-service-1">
                                <img src='https://s3-alpha-sig.figma.com/img/3155/d70c/bcd6c980c5a79272ebaffdd1a0df33ff?Expires=1714348800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=lqIMxSvoUkOulRaqwA95QKIYgU5Kyvwdg6~LjC4fHnDL0JX41CHhwF~fSV0NdBEaCe0bMjgQlgoH1Usrl2MKtCU-SsITTj-5z0Aara4VqBdkdmh0D1LBDirBK5ew3A5BluxtIk~KZCHiRh6RIywGSv-PqTmc8KXt9n11wgUzBa3EVM4fXX6~BuQn-Q19il2L3Z~8wcytUXXsve4dlpB8j9wV3mhE2d7fuZN5rL9s8Smon0RrXpX6hwyLv8YxO8pBcm1IhkvhWAvMK2mOLqTMdjdOmw~-yvCvNNljnUCmdnBSBuWXJkSX7m1zWJw6iTTu5J7QUgj~EDD14gOqsYj7BQ__'
                                    alt="lab service 1">
                            </div>
                            <div class="product-info">
                                <h4 class="product-title">Mamaearth</h4>
                                <a href="http://localhost/sulavhealth/product/lab-service-1"
                                    class="product-link">Mamaearth
                                    Mineral Based Sunscreen 50ml</a>
                                <div class="product-price">
                                    <span>NPR 250.00</span>
                                    <del>NPR 290.00</del>
                                </div>
                                <div class="product-action">
                                    <ul>
                                        <li>
                                            <a href="#" class="add-wishlist" title="Add to Wishlist"
                                                data-cartid="lab-service-1">
                                                <i class="far fa-heart"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" title="ADD TO CART" class="add-to-cart" data-toggle="modal"
                                                data-target="#quick_view_modal_product_lab-service-1">
                                                Add to Cart
                                                <i class="fas fa-shopping-cart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-sm-6 col-6">
                        <div class="ltn__product-item ltn__product-item-3 text-center">
                            <div class="product-img product_hove"
                                data-href="http://localhost/sulavhealth/product/lab-service-1">
                                <img src='https://s3-alpha-sig.figma.com/img/257b/d0dc/958bf10eef425a555b2f0d7bd61412a5?Expires=1714348800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=SX-tfGnq-iiXkOiRm1JjU9ZNPdmO~rq3TPyOcCSAm8gRUmwQatRvE2EIoAITKDE0~g8vJIudrCtW-y~v1wVjm-99hHu68MVX5slLkDmAWJIRZhiJdBold~SrNDTa1y1C-i7CnKSHVJqeW~dsHj8DeB9FRcuU5CkVftebFg64C0EZkjI2ozWvTsy0DTnSICvFPQKanpszw8NELwFx3xMt~5~qMYe8g8bT0nxtclVwVsdEGc5Ok33D--Qb0aLG-vU0vKreFrAGZGzOCAYNDxeu78jbvQEH8ZdsTM~tXIINBOjuf9EOKd2MrDP02SsbqmlIbKG7BN4TFry0rCy~bGsieg__'
                                    alt="lab service 1">
                            </div>
                            <div class="product-info">
                                <h4 class="product-title">Mamaearth</h4>
                                <a href="http://localhost/sulavhealth/product/lab-service-1"
                                    class="product-link">Mamaearth
                                    Mineral Based Sunscreen 50ml</a>
                                <div class="product-price">
                                    <span>NPR 250.00</span>
                                    <del>NPR 290.00</del>
                                </div>
                                <div class="product-action">
                                    <ul>
                                        <li>
                                            <a href="#" class="add-wishlist" title="Add to Wishlist"
                                                data-cartid="lab-service-1">
                                                <i class="far fa-heart"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" title="ADD TO CART" class="add-to-cart" data-toggle="modal"
                                                data-target="#quick_view_modal_product_lab-service-1">
                                                Add to Cart
                                                <i class="fas fa-shopping-cart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-sm-6 col-6">
                        <div class="ltn__product-item ltn__product-item-3 text-center">
                            <div class="product-img product_hove"
                                data-href="http://localhost/sulavhealth/product/lab-service-1">
                                <img src='https://s3-alpha-sig.figma.com/img/3155/d70c/bcd6c980c5a79272ebaffdd1a0df33ff?Expires=1714348800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=lqIMxSvoUkOulRaqwA95QKIYgU5Kyvwdg6~LjC4fHnDL0JX41CHhwF~fSV0NdBEaCe0bMjgQlgoH1Usrl2MKtCU-SsITTj-5z0Aara4VqBdkdmh0D1LBDirBK5ew3A5BluxtIk~KZCHiRh6RIywGSv-PqTmc8KXt9n11wgUzBa3EVM4fXX6~BuQn-Q19il2L3Z~8wcytUXXsve4dlpB8j9wV3mhE2d7fuZN5rL9s8Smon0RrXpX6hwyLv8YxO8pBcm1IhkvhWAvMK2mOLqTMdjdOmw~-yvCvNNljnUCmdnBSBuWXJkSX7m1zWJw6iTTu5J7QUgj~EDD14gOqsYj7BQ__'
                                    alt="lab service 1">
                            </div>
                            <div class="product-info">
                                <h4 class="product-title">Mamaearth</h4>
                                <a href="http://localhost/sulavhealth/product/lab-service-1"
                                    class="product-link">Mamaearth
                                    Mineral Based Sunscreen 50ml</a>
                                <div class="product-price">
                                    <span>NPR 250.00</span>
                                    <del>NPR 290.00</del>
                                </div>
                                <div class="product-action">
                                    <ul>
                                        <li>
                                            <a href="#" class="add-wishlist" title="Add to Wishlist"
                                                data-cartid="lab-service-1">
                                                <i class="far fa-heart"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" title="ADD TO CART" class="add-to-cart" data-toggle="modal"
                                                data-target="#quick_view_modal_product_lab-service-1">
                                                Add to Cart
                                                <i class="fas fa-shopping-cart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="ltn__footer-area  ">
        <div class="footer-top-area  section-bg-1 plr--5">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-about-widget">
                            <h4 class="footer-title">Address</h4>
                            <div class="footer-menu">
                                <ul>
                                    <li><a href="https://maps.app.goo.gl/et94HGPQiVLYvHLaA" target="_blank">Lazimpat,
                                            Kathmandu, Nepal</a>
                                    </li>
                                    <li><a href="https://maps.app.goo.gl/et94HGPQiVLYvHLaA" target="_blank"><i
                                                class="fas fa-map-marker-alt mr-2"></i>View google
                                            map</a>
                                    </li>
                                    <!-- <li><a href="tel:+9779849426187" target="_blank">+977-9849426187</a> -->
                                    </li>
                                    <!-- <li><a href="mailto: info&#64;sulavhealth&#46;com"
                                            target="_blank">info&#64;sulavhealth&#46;com</a>
                                    </li> -->
                                </ul>


                            </div>
                            <ul
                                style="list-style: none; margin-top: 20px; display: flex; align-items:start; justify-content: start; gap: 20px; font-size: 1.25rem; transform: translateX(-20px);">
                                <li><a href="https://www.facebook.com/xenopharmacy" target="_blank"><i
                                            class="fab fa-facebook-f"></i></a>
                                </li>
                                <li><a href="https://www.instagram.com/xenopharmacy/" target="_blank"><i
                                            class="fab fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-menu-widget clearfix">
                            <h4 class="footer-title">Customer Policies</h4>
                            <div class="footer-menu">
                                <ul>
                                    <li><a href="http://localhost/sulavhealth/terms-conditions"
                                            id="id_terms___conditions">Terms & Conditions</a></li>
                                    <li><a href="http://localhost/sulavhealth/quality-policy"
                                            id="id_quality_policy">Quality Policy</a></li>
                                    <li><a href="http://localhost/sulavhealth/gdpr" id="id_privacy_policy">Privacy
                                            Policy</a></li>
                                    <li><a href="http://localhost/sulavhealth/domestic-delivery-info"
                                            id="id_domestic_delivery">Domestic Delivery</a></li>
                                    <li><a href="http://localhost/sulavhealth/international-delivery"
                                            id="id_international_delivery">International Delivery</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-menu-widget clearfix">
                            <h4 class="footer-title">Products</h4>
                            <div class="footer-menu">
                                <ul>
                                    <li><a href="#"> Baby Care</a></li>
                                    <li><a href="#"> Lab Service</a></li>
                                    <li><a href="#"> Derma Products</a></li>
                                    <li><a href="#"> Skin Care</a></li>
                                    <li><a href="#"> Dietary Supplements Care</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-xl-2 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-menu-widget clearfix">
                            <h4 class="footer-title">Follow Us</h4>
                            <div class="footer-menu">
                                <ul>
                                    <li><a href="https://www.facebook.com/xenopharmacy" target="_blank">Facebook</a>
                                    </li>
                                    <li><a href="https://www.instagram.com/xenopharmacy/" target="_blank">Instagram</a>
                                    </li>
                                    <li><a href="https://www.linkedin.com" target="_blank">Linkedin </a></li>
                                </ul>
                            </div>
                        </div>
                    </div> -->
                    <div class="footer-contact col-xl-3 col-md-6 col-sm-12 col-12 contact-us">
                        <p style="font-weight: 700;">For any kinds of help you can call us at</p>
                        <ul>
                            </li>
                            <li><a href="tel:+9779849426187" target="_blank">+977-9849426187 <i
                                        class="fab fa-whatsapp"></i> <i class="fab fa-viber"></i></a>
                        </ul>
                        <p style="font-weight: 700;">Or mail us at</p>
                        <ul>
                            <li><a href="mailto: info&#64;sulavhealth&#46;com"
                                    target="_blank">info&#64;sulavhealth&#46;com</a>
                            </li>
                        </ul>

                        <img style="height:30px; object-fit: contain;"
                            src='https://s3-alpha-sig.figma.com/img/5070/586c/c585ea14d42071c8e8a6499d919515bd?Expires=1714348800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Atj2nhvfWL9iXQYRraWpImixg~nRtFxxmeRmSHYyv~TTSTEWM8rF44fo6WbXtu3w~FEVjpdPx28-GczuRSeSSNHDAFB48o7UYLsc69Q1DC9YfGjh-7BdPKtgX12N-44440UD-VLnd4Tfi~jpv3q~sTaaUtvsmIXcLWTX3FJc0DivGCkPzzRcHxDcpOWNzg8BuWCyQKmy6EJcsG5stqqj2IdrIKYkztZpmls3CG3vA8GreXETnVgT7yEQo8j4~LT83JqXD8DjnzmQnYjxwlJQNMVvcKjxbyrlSsjszRWlFMMYvMOpW~75uaEardcMjJJHaDymi78C8X6h1cls0yU5oQ__'
                            alt="Payment Image">
                    </div>
                </div>

                <p style="font-size: 0.8em; padding: 5px 0;">
                    Disclaimer : Sulavhealth.com is only a service platform to provide concierge and logistic service to
                    our valued subscribers. We do not endorse or are associated with any Medical institutions,
                    Hospitals, Clinics; however our platform could be leveraged to sell health packages or services or
                    wellness products using us as a marketing platform. The list of doctors/hospitals and their
                    availability displayed in the platform are as provided by the hospital or as listed in the hospitals
                    website and can change or removed without prior notice. We do not take any responsibility for the
                    medical investigations carried out by the hospitals or any doctors. This service is NOT intended to
                    be a substitute for any medical care or emergency healthcare. If you are an END-USER facing a
                    medical emergency, please contact an ambulance services or hospital directly.
                </p>
                <p style="font-size: 0.8em;">&copy; 2024. Sulav Health. All rights reserved | Website
                    by <a style="font-size: 1em;" href="https://longtail.info/">Longtail e-media</a></p>
            </div>
        </div>
        <!-- <div class="ltn__copyright-area ltn__copyright-2 section-bg-2  ltn__border-top-2--- plr--5">
            <div class="container">
                <div class="ltn__copyright-design text-center">
                    <p>&copy; 2024. Sulav Health. All rights reserved | Website by <a href="https://longtail.info/"
                            style="font-size: 0.85rem;" target="_blank">Longtail e-media</a></p>
                </div>
            </div>
        </div> -->
    </footer>

    <script>
        $(document).ready(function () {
            $('#filterForm').submit(function (event) {
                event.preventDefault();
                var brands = $('input[name="brand"]:checked').map(function () {
                    return this.value;
                }).get();
                var colors = $('input[name="color"]:checked').map(function () {
                    return this.value;
                }).get();
                var prices = $('input[name="price"]:checked').map(function () {
                    return this.value;
                }).get();
                console.log("Selected Brands:", brands);
                console.log("Selected Colors:", colors);
                console.log("Selected Price Ranges:", prices);
            });
        });

    </script>


    <!-- All JS Plugins -->
    <script src="js/plugins.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <!-- Main JS -->
    <script src="js/main.js"></script>

    <!-- Custom JS -->
    <script src="js/custom.js"></script>

</body>

</html>