<!doctype html>
<html class="no-js">

<head>
    <jcms:site:seotitle/>

    <jcms:site:fevicon/>


    <!-- font language -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="author" content="Purna Shrestha">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <!-- Font Icons css -->
    <link rel="stylesheet" href="css/font-icons.css">
    <!-- plugins css -->
    <link rel="stylesheet" href="css/plugins.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body class="<jcms:site:language-class/>">

    <!-- Body main wrapper start -->
    <div class="body-wrapper">

        <!-- HEADER AREA START (header-5) -->
        <jcms:module:header/>
        <!-- HEADER AREA END -->

        <!-- Utilize Cart Menu Start -->
        <jcms:module:product:cart-menu/>
        <!-- Utilize Cart Menu End -->

        <!-- Utilize Mobile Menu Start -->
        <jcms:module:menu:mob-menu/>
        <!-- Utilize Mobile Menu End -->

        <div class="ltn__utilize-overlay"></div>

        <!-- SLIDER AREA START (slider-4) -->
        <div class="ltn__slider-area ltn__slider-4 position-relative d-none">
            <div
                class="ltn__slide-one-active----- slick-slide-arrow-1----- slick-slide-dots-1----- arrow-white----- ltn__slide-animation-active">
                <jcms:module:slidesho w/>
            </div>
        </div>

        <jcms:module:slideshow:images/>
        <!-- SLIDER AREA END -->

        <jcms:module:home:home-sections/>

        <!-- PRODUCT SLIDER AREA START -->
        <jcms:module:product:home-gift-sets/>
        <!-- PRODUCT SLIDER AREA END -->

        <!-- FOOTER AREA START -->
        <jcms:module:footer/>
        <!-- FOOTER AREA END -->

        <jcms:module:product:home-gift-sets-modal/>


    </div>
    <!-- Body main wrapper end -->


    <!-- All JS Plugins -->
    <script src="js/plugins.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <!-- Main JS -->
    <script src="js/main.js"></script>

    <!-- Custom JS -->
    <script src="js/custom.js"></script>

    <jcms:module:product:home-gift-sets-script/>

    <script>
        // Might be needed to keep open tab open even when page has been reloaded
        $(document).ready(function () {

            $('.ltn__image-slider-mine').slick({
                rtl: false,
                arrows: true,
                dots: false,
                autoplay: true,
                autoplaySpeed: 3000,
                infinite: true,
                speed: 300,
                slidesToShow: 1,
                slidesToScroll: 1,
                centerMode: true,
                centerPadding: '0px',
                prevArrow: '<a class="slick-prev"><i class="fas fa-arrow-left" alt="Arrow Icon"></i></a>',
                nextArrow: '<a class="slick-next"><i class="fas fa-arrow-right" alt="Arrow Icon"></i></a>',
                responsive: [
                    // {
                    //     breakpoint: 992,
                    //     settings: {
                    //         arrows: false,
                    //         dots: true,
                    //         slidesToShow: 2,
                    //         slidesToScroll: 1
                    //     }
                    // },
                    // {
                    //     breakpoint: 768,
                    //     settings: {
                    //         arrows: false,
                    //         dots: true,
                    //         slidesToShow: 2,
                    //         slidesToScroll: 1,
                    //     }
                    // },
                    // {
                    //     breakpoint: 580,
                    //     settings: {
                    //         arrows: false,
                    //         dots: true,
                    //         slidesToShow: 1,
                    //         slidesToScroll: 1
                    //     }
                    // }
                ]
            });
        });
    </script>

</body>

</html>