<!doctype html>
<html class="no-js" lang="el-GR">
<head>
    <jcms:site:seotitle/>

    <jcms:site:fevicon/>

    <!-- font language -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <!-- Font Icons css -->
    <link rel="stylesheet" href="css/font-icons.css">
    <!-- plugins css -->
    <link rel="stylesheet" href="css/plugins.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body class="<jcms:site:language-class/>">

<!-- Body main wrapper start -->
<div class="body-wrapper">

    <!-- HEADER AREA START (header-5) -->
    <jcms:module:header/>
    <!-- HEADER AREA END -->

    <!-- Utilize Cart Menu Start -->
    <jcms:module:product:cart-menu/>
    <!-- Utilize Cart Menu End -->

    <!-- Utilize Mobile Menu Start -->
    <jcms:module:menu:mob-menu/>
    <!-- Utilize Mobile Menu End -->

    <div class="ltn__utilize-overlay"></div>

    <!-- BREADCRUMB AREA START -->
    <div class="ltn__breadcrumb-area ltn__breadcrumb-area-2 ltn__breadcrumb-color-white bg-image"
         data-bg="../template/web/img/bg/9.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__breadcrumb-inner ltn__breadcrumb-inner-2 justify-content-between">
                        <div class="section-title-area ltn__section-title-2">
                            <h1 class="section-title white-color">
                                <strong>
                                    <jcms:module:common_language:RESET_RESET_PASSWORD/>
                                </strong>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMB AREA END -->

    <!-- LOGIN AREA START (Register) -->
    <div class="ltn__login-area pb-110">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area text-center">
                        <h1 class="section-title">
                            <jcms:module:common_language:RESET_RESET_YOUR_PASSWORD/>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="account-login-inner">
                        <jcms:module:user:reset-password-form/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- LOGIN AREA END -->

    <!-- FOOTER AREA START -->
    <jcms:module:footer/>
    <!-- FOOTER AREA END -->

</div>
<!-- Body main wrapper end -->

<!-- All JS Plugins -->
<script src="js/plugins.js"></script>
<script src="js/jquery.validate.min.js"></script>
<!-- Main JS -->
<script src="js/main.js"></script>

<!-- Custom JS -->
<script src="js/custom.js"></script>

<script type="text/javascript">
    var base_url = $('base').attr('url');

    $(document).ready(function () {
        $("#resetPasswordForm").validate({
            errorElement: 'span',
            errorClass: 'validate-has-error text-danger',
            rules: {
                password: {required: !0},
                confirm_password: {required: !0, equalTo: "#password"},
            },
            messages: {
                password: {required: "<jcms:module:common_language:RESET_PASSWORD_ERROR/>"},
                confirm_password: {
                    required: "<jcms:module:common_language:REGISTER_FORM_PASSWORD_CONFIRMATION/>",
                    equalTo: "<jcms:module:common_language:REGISTER_FORM_PASSWORD_MISMATCH/>"
                },
            },
            submitHandler: function (form) {
                if (form) {
                    var Frmval = $("#resetPasswordForm").serialize();
                    $("button#submitReset").attr("disabled", "true").text('<jcms:module:common_language:CONTACT_FORM_ERROR_PROCESSING/>');
                    $.ajax({
                        type: "POST",
                        dataType: "JSON",
                        url: base_url + "includes/controllers/ajax.user.php",
                        data: "action=resetUserPassword&" + Frmval,
                        success: function (data) {
                            var msg = eval(data);
                            if (msg.action == 'warning' || msg.action == 'unsuccess') {
                                $('#resetMsg').html(msg.message).removeClass('alert-success').addClass('alert alert-danger').css('display', 'block').fadeOut(8000);
                                $("button#submitReset").removeAttr("disabled").text('<jcms:module:common_language:RESET_UPDATE/>');
                            }
                            if (msg.action == 'success') {
                                $('#resetMsg').html(msg.message).removeClass('alert-danger').addClass('alert alert-success').css('display', 'block').fadeOut(8000);
                                $("button#submitReset").removeAttr("disabled").text('<jcms:module:common_language:RESET_UPDATE/>');
                                setTimeout(function () {
                                    window.location.href = base_url + "login";
                                }, 3000);
                            }
                        }
                    });
                    return !1;
                }
            }
        })
    });
</script>

</body>
</html>